.clock {
  background: url(../assets/clock.png);
  box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
              inset 0 -15px 15px rgba(255,255,255,0.05),
              0 15px 15px rgba(0,0,0,0.3),
              inset 0 -15px 15px rgba(0,0,0,0.3);
}

.clock .hours,
.clock .minutes,
.clock .seconds {
  position: absolute
}

.clock .hour, .hr{
  width: 8rem;
  height: 8rem;
}

.clock .minutes, .mn{
  width: 9.5rem;
  height: 12rem;
}

.clock .seconds, .sec{
  width: 5rem;
  height: 5rem;
}

.hr, .mn, .sec {
  display: flex;
  justify-content: center;

  border-radius: 50%;
}

.hr:before {
  content: '';
  position: absolute;
  width: .5rem;
  height: 5rem;
  background: #000000;
  z-index: 3;
  border-radius: 16px 38px 15px 38px;
}
.mn:before {
  content: '';
  position: absolute;
  width:  0.375rem;
  min-height: 7.2rem;
  background: #000000;
  z-index: 4;
  border-radius: 16px 38px 15px 38px;
}
.sec:before {
  content: '';
  position: absolute;
  width: .25rem;
  min-height: 9.5rem;
  background: #281C62;
  z-index: 5;
  border-radius: 16px 38px 15px 38px;
}